<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="shopping-list">
    <h1>{{ header.toLocaleUpperCase()}}</h1>
    <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
    <button type="submit" @click="saveItem">Save Item</button>
    <ol>
      <li v-for="item in items">{{item}}</li>
    </ol>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>  
    let shoppingList = new Vue({
      el: '#shopping-list',
      data: {
        header: "shopping list app",
        items: [
          '10 party hats',
          '2 board games',
          '20 cups'
        ]
      },
        newItem: '',
        methods: {
          saveItem: function(){
            this.items.push(this.newItem);
            this.newItem = ''
          }
      }
    })
  </script>
</body>
</html>
